body {
  xxxbackground: #777;
  background: #900;
  color: #ebebeb;
  xxxwidows: 960px;
}

xxxheader {
  width: 100%;
  height: 40%;
  text-align: center;
  background: #ccc;
}

header {
  width: 95%;
  margin: 10px auto;
  height: 50%;

  padding: 20px;
  background: red;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

nav {
  width: 95%;
  margin: 10px auto;
  height: 50%;

  padding: 20px;
  background: red;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  li {
    list-style-type: none;
  }
}

main {
  width: 95%;
  margin: 10px auto;
  border: 5px solid white;
}

section {
  width: 495px;
  float: left;
  xxxpadding: 20px;
  background: red;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

aside {

}
