body {
  background: #900;
  color: #ebebeb;
}

.basic-layout{
  background: red;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: white;
  height: 50%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  width: 95%;
}

.main {
  background: #900;
  padding: 0;
}

.section {
  width: 45%;
  height: 300px;
  float: left;
  margin-left: -20px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.aside {
  float: right;
  height: 300px;
  margin-right: -20px;
  width: 45%;
}

article {
  background: #900;
  height: 200px;
  margin: 40px 10px 10px;
  border: 1px solid red;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.heading-group {
  background: red;
  height: 30%;
  margin: 40px 10px 10px;
}

.para {
  background: red;
  height: 20%;
  margin: 20px 10px;
}

.heading-display {
  display: inline-block;
}
